.btn {
    color: #fff;
    padding: .3em .5em;
    margin-bottom: .3em;
    border-radius: .3em;
    text-align: center;
    display: table; 
}

.btn1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.btn2 {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.btn3 {
    width: 100px;
    height: 100px;
    background-color: gray;
}

.btn4 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.btn5 {
    width: 100px;
    height: 100px;
    background-color: blue;
}

.btn6 {
    width: 100px;
    height: 100px;
    background-color: yellow !important;
    background-color: gray;
}

.btn7 {
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    border-radius:30px;
}

.btn8 {
    width: 100px;
    height: 100px;
    background-color: pink;
    border-radius:30px;
}

.btn9 {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border-radius:30px;
}

.btn10 {
    color: white;
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    border-radius:30px;
}

.btn11 {
    color: white;
    width: 100px;
    height: 100px;
    background-color: #00ff00;
    border-radius:30px;
}

.btn12 {
    color: white;
    width: 100px;
    height: 100px;
    background-color: #0000ff;
    border-radius:30px;
}

.btn13 {
    color: white;
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    border-radius:30px;
}

.btn14 {
    color: white;
    width: 100px;
    height: 100px;
    background-color: #00ff00;
    border-radius:30px;
}

.btn15 {
    color: white;
    width: 100px;
    height: 100px;
    background-color: #0000ff;
    border-radius:30px;
}

.btn10 .chk{
    display: none;
}

.btn10 #open-close ~ .btn-open-close::before {
    content: "color code" ;
}

.btn10 #open-close:checked ~ .btn-open-close::before {
    content: "#ff0000" ;
}
.btn11 .chk2{
    display: none;
}

.btn11 #open-close2 ~ .btn-open-close2::before {
    content: "color code" ;
}

.btn11 #open-close2:checked ~ .btn-open-close2::before {
    content: "00ff00" ;
}
.btn12 .chk3{
    display: none;
}

.btn12 #open-close3 ~ .btn-open-close3::before {
    content: "color code" ;
}

.btn12 #open-close3:checked ~ .btn-open-close3::before {
    content: "0000ff" ;
}

.btn13 .chk4{
    display: none;
}

.btn13 #open-close4 ~ .btn-open-close4::before {
    content: "color code" ;
}

.btn13 #open-close4:checked ~ .btn-open-close4::before {
    content: "#ff0000" ;
}

.container #open-close4:checked ~ .hide::before {
    content: "#ff0000" ;
    height: auto;
}

.btn13 #open-close4:checked ~ .btn-open-close4::before {
    content: "#ff0000" ;
}
.btn14 .chk5{
    display: none;
}

.btn14 #open-close5 ~ .btn-open-close5::before {
    content: "color code" ;
}

.btn14 #open-close5:checked ~ .btn-open-close5::before {
    content: "00ff00" ;
}
.btn15 .chk6{
    display: none;
}

.btn15 #open-close6 ~ .btn-open-close6::before {
    content: "color code" ;
    display: block;
}

.btn15 #open-close6:checked ~ .btn-open-close6::before {
    content: "0000ff" ;
}

