.btn1 {
    width: 100px;
    height: 100px;
    background-color: red;
    }
.btn2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    }
.btn3 {
    width: 100px;
    height: 100px;
    background-color: gray;
    }
.btn4 {
    width: 100px;
    height: 100px;
    background-color: red;
    }
.btn5 {
    width: 100px;
    height: 100px;
    background-color: blue;
    }
.btn6 {
    width: 100px;
    height: 100px;
    background-color: yellow !important;
    background-color: gray;
    }
.btn7 {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius:30px;
    }
.btn8 {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius:30px;
    }
.btn9 {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius:30px;
    }